body {
    background-color: #29365e; /* Dark UNI blue */
    color: white; 
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background: #1f2a44;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
