{% extends 'GUTors_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login - GUTors
{% endblock %}

{% block body_block %}
<div class="container">
    <h2>Login to GUTors</h2>

    <form action="{% url 'GUTors:login' %}" method="post">
        {% csrf_token %}

        <div class="imgcontainer">
            <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>

        <p>Don't have an account? <a href="{% url 'GUTors:register' %}">Register here</a>.</p>
    </form>
</div>

<style>
    .container {
        width: 30%;
        margin: auto;
        text-align: center;
    }
    .avatar {
        width: 100px;
        border-radius: 50%;
    }
    input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #04AA6D;
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover {
        opacity: 0.8;
    }
    .cancelbtn {
        background-color: red;
    }
</style>
{% endblock %}
