{% extends 'GUTors_app/base.html' %}
{% load static %}

{% block title_block %}Profile - GUTors{% endblock %}



{% block body_block %}
<div class="container">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="avatar-preview mb-3">
                    <h3>{{ user_profile.user.username }}</h3>
                    <p class="text-muted">{{ user_profile.role }}</p>
                    {% if user.username == user_profile.user.username %}
                    <a href="{% url 'GUTors:register_profile' %}" class="btn btn-uni-blue mt-2">Edit Profile</a>
                    {% endif %}
                </div>
                {% if user_profile.bio %}
                <div class="card-footer">
                    <h4>Bio</h4>
                    <p>{{ user_profile.bio }}</p>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-uni-blue">
                    <h3 class="mb-0">Profile Information</h3>
                </div>
                <div class="card-body">
                    {% if user_profile.role == 'TUTOR' %}
                        <h4>Subjects I Tutor</h4>
                    {% else %}
                        <h4>Subjects I Study</h4>
                    {% endif %}
                    <p>
                        {% for subject in subjects %}
                            {{ subject }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    
                    {% if user_profile.role == 'TUTOR' %}
                        <h4>Average Rating</h4>
                        <p>{{ avg_rating|floatformat:1 }} / 5.0</p>
                    {% endif %}

                </div>
            </div>


        </div>
    </div>

    <div class="card-md-8">

            {% if user_profile.role == 'TUTOR' %}
                {% with session_title="My Teaching Sessions" session_list=sessions %}
                    {% include "GUTors_app/session_display.html" %}
                {% endwith %}
            {% else %}
                {% with session_title="My Learning Sessions" session_list=sessions %}
                    {% include "GUTors_app/session_display.html" %}
                {% endwith %}
            {% endif %}
            

            
            {% if user_profile.role == 'TUTOR' %}
                {% with review_title="Reviews About Me" review_list=reviews %}
                    {% include "GUTors_app/review_display.html" %}
                {% endwith %}
            {% else %}
                {% with review_title="Reviews I Wrote" review_list=reviews  %}
                    {% include "GUTors_app/review_display.html" %}
                {% endwith %}
            {% endif %}

    </div>
</div>
<script src="{% static 'js/bookSession.js' %}"></script>
{% endblock %}