{% extends 'GUTors_app/base.html' %}
{% load static %}

{% block title_block %}{% if session %}Review Session - GUTors{% else %}My Bookings - GUTors{% endif %}{% endblock %}


{% block body_block %}
<div class="container">
  {% if session %}
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header bg-uni-blue">
            <h3 class="mb-0">Review Session with {{ session.tutor.user.username }}</h3>
          </div>
          <div class="card-body">
            {% include "GUTors_app/session_card.html" with session=session %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header bg-uni-blue">
            <h3 class="mb-0">Your Review</h3>
          </div>
          <div class="card-body">
            <form method="post" action="">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="{{ form.rating.id_for_label }}"><strong>Rating:</strong></label>
                {{ form.rating }}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.comment.id_for_label }}"><strong>Comment:</strong></label>
                {{ form.comment }}
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-uni-blue">{% if is_edit %}Update{% else %}Submit{% endif %} Review</button>
                <a href="{% url 'GUTors:review' %}" class="btn btn-outline-uni-blue ml-2">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header bg-uni-blue">
            <h3 class="mb-0">My Bookings</h3>
          </div>
          <div class="card-body">
            {% for session in sessions %}
              <div class="mb-4">
                {% include "GUTors_app/session_card.html" with session=session actions=True reviewed_sessions=reviewed_sessions %}
              </div>
            {% empty %}
              <div class="alert alert-info">
                You haven't attended any sessions yet.
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        {% with review_title="Your Reviews" review_list=reviews %}
          {% include "GUTors_app/review_display.html" %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
</div>
<script src="{% static 'GUTors_app/js/sessionActions.js' %}"></script>
{% endblock %}