{% extends 'GUTors_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <h1>Search for a tutor</h1>
    <div>
        <p>If no fields are entered all tutors will be returned. If username is entered then this will override the subject field.</p>
        <form method = "GET">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

    <div>
        {% if results is not None %}
            <h1>Search Results</h1>
            <ul>
                {% for tutor in results %}
                    {% if tutor.role == 'TUTOR' %}
                        <li><a href="{% url 'GUTors:profile' tutor.user.username %}">{{ tutor.user.username }}</a></li>
                    {% endif %}
                {% empty %}
                    <p>no products found.</p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

 
{% endblock %}    